$timing-bounce: cubic-bezier(0.720, 0, 0.335, 1.245);
$timing-heavy: cubic-bezier(0.720, 0, 0.135, 1);

$timing-material-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
$timing-material-decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);
$timing-material-accelerate: cubic-bezier(0.4, 0.0, 1, 1);
$timing-material-sharp: cubic-bezier(0.4, 0.0, 0.6, 1);
