@mixin clear {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin width-proportional-height($percentage: 100%) {
    &:before {
        content: "";
        display: block;
        padding-top: $percentage;
    }
}

@mixin font-header($weight: 700, $style: normal) {
    font-family: "Geomanist", sans-serif;
    font-style: $style;
    font-weight: $weight;
}

@mixin font-copy($weight: 400, $style: normal) {
    font-family: "Roboto", sans-serif;
    font-style: $style;
    font-weight: $weight;
}
