$media-minimum: "screen and (max-width: 650px)";

$media-small-down: "screen and (max-width: 1020px)";
$media-small: "screen and (min-width: 651px) and (max-width: 1020px)";
$media-small-up: "screen and (min-width: 651px)";

$media-normal: "screen and (min-width: 1021px)";

$media-maximum: "screen and (min-width: 1280px)";
