$media-minimum: "screen and (max-width: 650px)";

$media-small-down: "screen and (max-width: 1020px)";
$media-small: "screen and (min-width: 651px) and (max-width: 1020px)";
$media-small-up: "screen and (min-width: 651px)";

$media-normal: "screen and (min-width: 1021px)";

$media-maximum: "screen and (min-width: 1280px)";

$color-blue-light: #ACEEFF;
$color-blue-mid: #00CBFF;
$color-blue-dark: #00ABFC;
$color-blue-dim: #425A76;

$button-padding: 1.375rem 2rem;
