@import "functions";
@import "mixins";
@import "variables";
@import "animations";

@import "base/input";

@import "inputs";

@import "fonts";
@import "marginals";
@import "blocks";
@import "main";
@import "node_modules/lackey-cms/modules/cms/client/scss/_partials/_growl";

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    @media #{$media-normal} { font-size: width-proportional-size(1280); }
    @media #{$media-small} { font-size: width-proportional-size(800); }
    @media #{$media-minimum} { font-size: width-proportional-size(400); }

    @include font-copy();

    max-width: 100%;

    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    @include font-header();
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    max-width: 100%;

    overflow-x: hidden;
}

img[src=""], img:not([src]) { display: none; }

@import "lackey";
