article.copy-media {
    @mixin main() {
        display: flex;

        padding: 5rem 1rem;

        > section {
            max-width: 21.875em;
            margin: auto;

            > h1 {
                @include font-header();
                font-size: 2.125rem;

                & + *:not(:first-of-type) { margin-top: 3.5rem; }
            }

            > p:first-of-type {
                @include font-header(400);
                font-size: 1.125rem;

                & + * { margin-top: 3.5rem; }
            }

            > p:not(:first-of-type) {
                @include font-copy();
                font-size: 0.875rem;
                line-height: 1.7;
            }
        }

        > figure { text-align: center; }
    }

    @mixin layout($is-stacked: false) {
        @if $is-stacked {
            flex-direction: row;
            flex-wrap: wrap;

            > * { flex: 1 1 100%; }

            > section { padding: 0 1rem 5rem; }

            > figure > * {
                max-width: 100%;
                max-height: 60vmin;
            }
        } @else {
            &:nth-child(even) {
                flex-direction: row-reverse;

                > figure[data-image-alignment=side] > * {
                    transform: translate(-60%, -50%);
                }
            }
            &:nth-child(odd) {
                flex-direction: row;

                > figure[data-image-alignment=side] > * {
                    transform: translate(-40%, -50%);
                }
            }

            > * { flex: 0 1 50%; }

            > section { padding: 5rem 1rem; }

            > figure {
                position: relative;

                > * {
                    position: absolute;
                    left: 50%; top: 50%;
                    width: auto;
                }

                &[data-image-alignment=side] > * { height: 85%; }
                &[data-image-alignment=center] > * {
                    height: 80%;

                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    @mixin color($color-header, $color-subtitle, $color-copy, $color-background) {
        background-color: $color-background;

        > section {
            > h1 { color: $color-header; }
            > p:first-of-type { color: $color-subtitle; }
            > p:not(:first-of-type) { color: $color-copy; }
        }
    }

    @include main;

    @media #{$media-maximum} { @include layout(); }
    @media #{$media-normal} { @include layout(); }
    @media #{$media-small} { @include layout(); }
    @media #{$media-minimum} { @include layout(true); }

    &[data-theme=white] { @include color($color-blue-mid, $color-blue-dim, $color-blue-dim, #fff); }
    &[data-theme=blue] { @include color(#fff, $color-blue-light, #fff, $color-blue-mid); }
}
