button, a.button {
    display: inline-block;
    padding: $button-padding;

    @include font-copy(900);
    font-size: 0.875rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    color: #fff;
    background-color: $color-blue-mid;
    border: 1px solid transparent;
    border-radius: 4rem;

    user-select: none;

    transition: background-color 0.2s $timing-material-standard;

    &:hover { background-color: $color-blue-dark; }
    &[disabled] {
        pointer-events: none;

        color: $color-blue-light;
        background-color: transparent;
        border-color: $color-blue-light;

        cursor: default;
    }

    &:link, &:hover, &:active, &:visited {
        color: #fff;
    }
}
