footer.page {
    @mixin main() {
        padding: 3.125rem 6.25rem;

        background-color: $color-blue-mid;

        a {
            display: inline-block;

            @include font-copy();
            font-size: 0.625rem;

            color: rgba($color-blue-dim, 0.6);
            vertical-align: middle;

            & + a { margin-left: 1.25rem; }

            svg {
                width: auto;
                height: 1rem;

                fill: rgba($color-blue-dim, 0.6);
            }
        }
    }

    @mixin layout($is-stacked: false) {
        @if $is-stacked {
            text-align: center;

            a:last-of-type {
                display: block;
                margin: 2rem 0 0;
            }
        } @else {
            text-align: right;

            a:last-of-type { margin-left: 2rem; }
        }
    }

    @include main;

    @media #{$media-normal} { @include layout(); }
    @media #{$media-small} { @include layout(); }
    @media #{$media-minimum} { @include layout(true); }
}
